<app-widgets-dropdown></app-widgets-dropdown>
<div class="row inner-conent">
    <div class="inner-c-in">
        <!--<div class="clearfix">&nbsp;</div>-->
        <!--<div>
            <h3 style="color: #7c1a78;">
                <label style="text-transform: none;">Experience a faster and paperless way to pay with eGIRO</label>
            </h3>
            <iframe width="450" height="315" src="https://www.youtube.com/embed/NOxh9ddvIkY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
            </iframe>&nbsp;&nbsp;&nbsp;&nbsp;
            <iframe width="450" height="315" src="https://www.youtube.com/embed/_LcCHzTJuJA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture">
        </iframe>
        </div>-->
        <label style="text-transform: none;"><br />
           <strong style="color:#7c1a78;">What is eGIRO</strong> </label>
        <p style="text-align: justify;">
            GIRO&rsquo;s current paper based applications is a hassle. This manually intensive process takes an average
            of 3 weeks before the auto deduction is set up. The Association of Banks in Singapore along with 8 major
            banks came together to transform this process.
        </p>
        <p style="text-align: justify;">
            By delivering a digital transformation of GIRO application into a safe, seamless and secure online process,
            leveraging cloud technology your way, ABS hopes to improve customer experience and deliver greater
            efficiency on the support of the nation&rsquo;s Smart Nation Vision of becoming a smart financial hub.
        </p>
        <p style="text-align: justify;">
            During pandemic times where cash flow is critical for businesses, eGIRO enables service providers faster
            collection cycles with better process efficiency. To consumers, eGIRO simply makes it easy and convenient
            where processing turnaround time will be drastically reduced from 3 weeks to just minutes for a typical
            consumer.
        </p>
    </div>
</div>
<app-shared></app-shared>
<!--<button class="btn btn-primary">akjsdfk</button>-->

